--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0+cpu
fastapi
uvicorn
sqlalchemy
psycopg2-binary
kafka-python
pytest

numpy
reportlab
pillow
PyMuPDF
httpx
python-multipart==0.0.9
opencv-python-headless==4.10.0.84
pytesseract==0.3.13
dbt-core<1.9
dbt-postgres==1.8.2

streamlit
boto3
qdrant-client
pandas
sentence-transformers
python-dotenv
google-genai
